/.mixin.out

/.vscode

/backups

# /config

/crash-reports

/CustomSkinLoader

/debug

/defaultconfigs

/ESM

/everbook

/fancymenu_data

/fancymenu_setups

/jcef

# /journeymap - 部分
/journeymap/data
/journeymap/icon
/journeymap/server
/journeymap/defaultconfig.json
/journeymap/journeymap.log

# /kubejs - 部分
/kubejs/probe

/local

/localconfigs

/logs

/Miracles Journey-natives

/modernfix

# /mods - 部分
/mods/cinemamod-libraries

/music_sheets

/OpenJDK17

/patchouli_books

/PCL

/quests_structures

# /resourcepacks - 部分

/saves

/schematics

/screenshots

# /shaderpacks

/thingpacks

/wd_filehost

# /wiki

# /.gitignore

/.qmenu_opened.marker

/BTLib.dll

/hmclversion.cfg

# /LICENSE

# /Miracles Journey.jar

# /Miracles Journey.json

# /options.txt

/patchouli_data.json

# /README.md

/rhino.local.properties

/usercache.json

/usernamecache.json

/wd_next.txt
