/.mixin.out

/.vscode

/armourers_workshop

/backups

# /config - 部分
/config/starterkit/starterkit-old*.txt
/config/jei/world

/crash-reports

/CustomSkinLoader

/debug

/defaultconfigs

/ESM

/etched-sounds

/everbook

/fancymenu_data

/fancymenu_setups

# /GraalvmJDK17 - 部分
/GraalvmJDK17/bin
/GraalvmJDK17/conf
/GraalvmJDK17/include
/GraalvmJDK17/jmods
/GraalvmJDK17/languages
/GraalvmJDK17/legal
/GraalvmJDK17/lib
/GraalvmJDK17/tools
/GraalvmJDK17/GRAALVM-README.md
/GraalvmJDK17/license-information-user-manual.zip
/GraalvmJDK17/LICENSE.txt
/GraalvmJDK17/release

# /kubejs - 部分
/kubejs/probe

# /launcher - 部分
/launcher/PCL/Log1.txt
/launcher/PCL/Log2.txt
/launcher/PCL/Log3.txt
/launcher/PCL/Log4.txt
/launcher/PCL/Log5.txt

/local

/localconfigs

/logs

/Miracles Journey-natives

/modernfix

# /mods - 部分
/mods/panorama

/music_sheets

/patchouli_books

# /PCL

/quests_structures

# /resourcepacks

/saves

/schematics

/screenshots

# /shaderpacks

/temp

/thingpacks

/thumbnails

/tlm_custom_pack

/XaeroWaypoints

/XaeroWaypoints_BACKUP*

/XaeroWorldMap

# /.gitignore

/.qmenu_opened.marker

/BTLib.dll

# /CHANGELOG.md

/Custom_Backup.xaml

# /Custom.xaml

# /DISCLAIMER.md

/hmclversion.cfg

# /Miracles Journey.jar

# /Miracles Journey.json

/o_prof

/ops.json

# /options.txt

/panorama.dat

/patchouli_data.json

/rhino.local.properties

# /TODO.md

/usercache.json

/usernamecache.json