// jm.config.file_header_1
// jm.config.file_header_2
// jm.config.file_header_5
{
  "showKeys": "false",
  "showPlayerLoc": "true",
  "showMouseLoc": "true",
  "dragScale": "1",
  "playerDisplay": "LargeIcons",
  "selfDisplayScale": "1.25",
  "playerDisplayScale": "1.25",
  "showPlayerHeading": "true",
  "mobDisplay": "LargeDots",
  "mobDisplayScale": "1.0",
  "showMobHeading": "true",
  "showMobs": "false",
  "showAnimals": "false",
  "showVillagers": "false",
  "showPets": "false",
  "showPlayers": "true",
  "fontScale": "2.5",
  "showWaypointLabels": "true",
  "waypointLabelScale": "1.5",
  "waypointIconScale": "1.5",
  "locationFormatVerbose": "true",
  "locationFormat": "xyz",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "false",
  "showCaves": "false",
  "showEntityNames": "true",
  "preferredMapType": "day",
  "zoomLevel": "2",
  "configVersion": "5.9.7"
}